/* HEADER */

.header {
    text-align: center;
    margin-bottom: 10px;
}

.header h4 {
    color: #ec1f55;
    font-size: 12px;
    margin-bottom: 5px;
}

.header h2 {
    color: #333;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}